.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  &__list {
    display: flex;
    gap: 10px;
  }

  &__item {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $secondary-text;
  }

  &__item--active {
    border: 2px solid $accent-color;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $primary-text;
  }
}