.best-offer {
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: space-between;

  border: 1px solid #cdcdcd;
  border-radius: 3px;

  &__header {
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
  }

  &__badge {
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    color: $accent-color;
  }

  &__old-price {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $secondary-text;
    text-decoration: line-through;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
  }

  &__title {
    text-align: center;
  }

  &__footer {
    padding: 20px 0;
    background-color: $base-blocks;
  }

  &__duration {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 21px;
    }

    span {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: $accent-color;
    }
  }
}
