.secondary-nav {
  padding: 0 10px;
  background-color: $base-blocks;

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    justify-content: space-between;
  }

  &__item {
    

    a{
      position: relative;

      padding: 15px 0;
      display: block;

      &::after{
        content: '';

        position: absolute;
        bottom: 0;
        
        height: 2px;
        width: 0;

        display: block;

        background-color: $accent-color;
      }

      &:hover{
        text-decoration: none;

        &::after{
          transition: all 0.3s;
          width: 100%;
        }
      }


    }
  }

  &__item--active {
    a{
      font-weight: bold;
      &::after{
        width: 100%;
      }
    }
  }
}

