.button {
  background: transparent;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
}
.button--primary {
  padding: 15px 40px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: $base-white;
  background: $accent-color;
  text-transform: uppercase;

  &:hover {
    background: lighten($accent-color, 10);
  }
}

.button--secondary {
  padding: 10px 25px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  background: $base-blocks;

  &:hover {
    background: transparent;
    border: 1px solid $base-blocks;
  }
}

.button--secondary-xs {
  padding: 5px 20px;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.7;

  background: $base-blocks;

  &:hover {
    background: transparent;
    border: 1px solid $base-blocks;
  }
}

.button--transparent {
  padding: 10px 25px;
  font-size: 20px;
  line-height: 24px;

  &:hover {
    border: 1px solid $base-blocks;
  }
}

.button--underline {
  position: relative;
  padding: 10px 25px;
  font-size: 20px;
  line-height: 24px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: $accent-color;
  }
}

.button--accented-xs {
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
  color: $accent-color;
}
