html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SFProDisplay", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: $primary-text;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

picture {
  display: block;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.mb80{
  margin-bottom: 80px;
}

.visually-hidden {
  @include visually-hidden;
}
